___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [2]:
import pandas as pd
df=pd.read_csv("RI_cleaned3.csv", nrows=50000)

C:\Users\Tayfu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
df.head()

,stop_datetime,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,2005-01-04 12:55:00,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
3,2005-01-06 01:30:00,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,2005-01-12 08:05:00,RI-2005-00006,Zone X1,0,M,1973.0,32.0,B,Black,Call for Service,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [11]:
df["violation_raw"].unique()

array(['Speeding', 'Equipment/Inspection Violation', 'Call for Service',
       'Other Traffic Violation', 'Registration Violation',
       'Violation of City/Town Ordinance',
       'Special Detail/Directed Patrol', 'APB',
       'Motorist Assist/Courtesy', 'Suspicious Person', 'Warrant'],
      dtype=object)

In [29]:
df.groupby("violation_raw").size()

violation_raw
APB                                    51
Call for Service                      475
Equipment/Inspection Violation       3022
Motorist Assist/Courtesy              176
Other Traffic Violation              6522
Registration Violation               1463
Special Detail/Directed Patrol         72
Speeding                            36111
Suspicious Person                      28
Violation of City/Town Ordinance       78
Warrant                                12
dtype: int64

In [61]:

df.drop("violation_rate", inplace=True, axis=1)

In [62]:
df.head()

,stop_datetime,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,2005-01-04 12:55:00,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
3,2005-01-06 01:30:00,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,2005-01-12 08:05:00,RI-2005-00006,Zone X1,0,M,1973.0,32.0,B,Black,Call for Service,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [64]:
df.groupby("violation_raw").size()/48010

violation_raw
APB                                 0.001062
Call for Service                    0.009894
Equipment/Inspection Violation      0.062945
Motorist Assist/Courtesy            0.003666
Other Traffic Violation             0.135847
Registration Violation              0.030473
Special Detail/Directed Patrol      0.001500
Speeding                            0.752156
Suspicious Person                   0.000583
Violation of City/Town Ordinance    0.001625
Warrant                             0.000250
dtype: float64

In [35]:
df.isnull().sum()

stop_datetime             0
id                        0
location_raw              0
police_department         0
driver_gender             0
driver_age_raw            0
driver_age              232
driver_race_raw           0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type_raw       45998
search_type           45998
contraband_found          0
stop_outcome              0
is_arrested               0
stop_duration             0
out_of_state            215
drugs_related_stop        0
district                  0
dtype: int64

In [37]:
df.shape

(48010, 21)

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [45]:
df["violation_raw"].unique()

array(['Speeding', 'Equipment/Inspection Violation', 'Call for Service',
       'Other Traffic Violation', 'Registration Violation',
       'Violation of City/Town Ordinance',
       'Special Detail/Directed Patrol', 'APB',
       'Motorist Assist/Courtesy', 'Suspicious Person', 'Warrant'],
      dtype=object)

In [47]:
df.shape

(48010, 21)

In [51]:
df.groupby("violation_raw").size()/48010

violation_raw
APB                                 0.001062
Call for Service                    0.009894
Equipment/Inspection Violation      0.062945
Motorist Assist/Courtesy            0.003666
Other Traffic Violation             0.135847
Registration Violation              0.030473
Special Detail/Directed Patrol      0.001500
Speeding                            0.752156
Suspicious Person                   0.000583
Violation of City/Town Ordinance    0.001625
Warrant                             0.000250
dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [70]:
df["driver_gender"].value_counts()

M    34701
F    13309
Name: driver_gender, dtype: int64

In [51]:
df.groupby("driver_gender")["violation_raw"].value_counts()

driver_gender  violation_raw
F              Speeding                            10796
               Other Traffic Violation              1318
               Equipment/Inspection Violation        607
               Registration Violation                367
               Call for Service                      120
               Motorist Assist/Courtesy               59
               Violation of City/Town Ordinance       20
               Special Detail/Directed Patrol         11
               APB                                     7
               Suspicious Person                       3
               Warrant                                 1
M              Speeding                            25315
               Other Traffic Violation              5204
               Equipment/Inspection Violation       2415
               Registration Violation               1096
               Call for Service                      355
               Motorist Assist/Courtesy              117
               Special Detail/Directed Patrol         61
               Violation of City/Town Ordinance       58
               APB                                    44
               Suspicious Person                      25
               Warrant                                11
Name: violation_raw, dtype: int64

## Created DataFrames that contains what requested for us

In [46]:
dfm=pd.DataFrame(df[(df['driver_gender']=="M")])

In [47]:
dff=pd.DataFrame(df[(df['driver_gender']=="F")])

In [117]:
dfm.shape

(34701, 21)

In [119]:
dff.shape

(13309, 21)

## According to Male drivers you can find below the proportion of violation_raw

In [48]:
100*dfm.groupby("driver_gender")["violation_raw"].value_counts()/len(dfm)

driver_gender  violation_raw
M              Speeding                            72.951788
               Other Traffic Violation             14.996686
               Equipment/Inspection Violation       6.959454
               Registration Violation               3.158410
               Call for Service                     1.023025
               Motorist Assist/Courtesy             0.337166
               Special Detail/Directed Patrol       0.175787
               Violation of City/Town Ordinance     0.167142
               APB                                  0.126797
               Suspicious Person                    0.072044
               Warrant                              0.031699
Name: violation_raw, dtype: float64

## According to Female drivers you can find below the proportion of violation_raw

In [49]:
100*dff.groupby("driver_gender")["violation_raw"].value_counts()/len(dff)

driver_gender  violation_raw
F              Speeding                            81.118040
               Other Traffic Violation              9.903073
               Equipment/Inspection Violation       4.560824
               Registration Violation               2.757532
               Call for Service                     0.901646
               Motorist Assist/Courtesy             0.443309
               Violation of City/Town Ordinance     0.150274
               Special Detail/Directed Patrol       0.082651
               APB                                  0.052596
               Suspicious Person                    0.022541
               Warrant                              0.007514
Name: violation_raw, dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [123]:
df.head()

,stop_datetime,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,2005-01-04 12:55:00,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
3,2005-01-06 01:30:00,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,2005-01-12 08:05:00,RI-2005-00006,Zone X1,0,M,1973.0,32.0,B,Black,Call for Service,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

## Created DataFrames

In [42]:
male_speeding=pd.DataFrame(df[(df["driver_gender"]=="M")&(df["violation_raw"]=="Speeding")])

In [43]:
female_speeding=pd.DataFrame(df[(df["driver_gender"]=="F")&(df["violation_raw"]=="Speeding")])

In [141]:
df.groupby("driver_gender")["stop_outcome"].value_counts()

driver_gender  stop_outcome
F              Citation            12434
               Arrest Driver         329
               Warning               227
               N/D                   182
               No Action              70
               Arrest Passenger       67
M              Citation            31353
               Arrest Driver        1939
               Warning               644
               N/D                   481
               Arrest Passenger      153
               No Action             131
Name: stop_outcome, dtype: int64

### when it comes to speeding violation who pulled over as a male %95 of them got citation and %1 got warning

In [142]:
male_speeding["stop_outcome"].value_counts()

Citation            24234
Arrest Driver         664
Warning               270
N/D                    86
Arrest Passenger       51
No Action              10
Name: stop_outcome, dtype: int64

In [145]:
male_speeding.shape

(25315, 21)

In [45]:
100*male_speeding["stop_outcome"].value_counts()/len(male_speeding)

Citation            95.729804
Arrest Driver        2.622951
Warning              1.066561
N/D                  0.339720
Arrest Passenger     0.201462
No Action            0.039502
Name: stop_outcome, dtype: float64

### when it comes to speeding violation who pulled over as a female %97 of them got citation and %1.2 got warning

In [144]:
female_speeding["stop_outcome"].value_counts()

Citation            10509
Warning               140
Arrest Driver          80
N/D                    39
Arrest Passenger       25
No Action               3
Name: stop_outcome, dtype: int64

In [147]:
female_speeding.shape

(10796, 21)

In [44]:
100*female_speeding["stop_outcome"].value_counts()/len(female_speeding)

Citation            97.341608
Warning              1.296777
Arrest Driver        0.741015
N/D                  0.361245
Arrest Passenger     0.231567
No Action            0.027788
Name: stop_outcome, dtype: float64

In [170]:
df.head()

,stop_datetime,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,2005-01-04 12:55:00,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
3,2005-01-06 01:30:00,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,2005-01-12 08:05:00,RI-2005-00006,Zone X1,0,M,1973.0,32.0,B,Black,Call for Service,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [150]:
df.head(1)

,stop_datetime,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1

In [151]:
df["search_conducted"].dtype

dtype('bool')

In [152]:
df["search_conducted"].value_counts()

False    45998
True      2012
Name: search_conducted, dtype: int64

In [40]:
100*df["search_conducted"].value_counts()/len(df)

False    95.809206
True      4.190794
Name: search_conducted, dtype: float64

In [154]:
df["search_conducted"].mean()

0.04190793584669861

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [155]:
female_search=pd.DataFrame(df[(df["driver_gender"]=="F")])

In [156]:
female_search.shape

(13309, 21)

In [158]:
female_search["search_conducted"].value_counts()

False    13072
True       237
Name: search_conducted, dtype: int64

In [157]:
female_search["search_conducted"].mean()

0.017807498685100308

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [161]:
male_search=pd.DataFrame(df[(df["driver_gender"]=="M")])

In [162]:
male_search.shape

(34701, 21)

In [163]:
male_search["search_conducted"].value_counts()

False    32926
True      1775
Name: search_conducted, dtype: int64

In [165]:
male_search["search_conducted"].mean()

0.05115126365234431

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [166]:
df.groupby("driver_gender")["search_conducted"].mean()

driver_gender
F    0.017807
M    0.051151
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [15]:
df.head(1)

,stop_datetime,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1

### Are males and females searched at about the same rate for each violation? No
### As it turns out below results show that major differences For warrant Police hadnt any search conducted but
### %45 of male who committed violation because of warrant was searched conducted by police

In [8]:
df.groupby(["driver_gender","violation_raw"])["search_conducted"].mean()

driver_gender  violation_raw
F              APB                                 0.285714
               Call for Service                    0.050000
               Equipment/Inspection Violation      0.079077
               Motorist Assist/Courtesy            0.033898
               Other Traffic Violation             0.047800
               Registration Violation              0.114441
               Special Detail/Directed Patrol      0.000000
               Speeding                            0.006854
               Suspicious Person                   0.000000
               Violation of City/Town Ordinance    0.000000
               Warrant                             0.000000
M              APB                                 0.500000
               Call for Service                    0.126761
               Equipment/Inspection Violation      0.123395
               Motorist Assist/Courtesy            0.085470
               Other Traffic Violation             0.088778
               Registration Violation              0.171533
               Special Detail/Directed Patrol      0.065574
               Speeding                            0.028560
               Suspicious Person                   0.240000
               Violation of City/Town Ordinance    0.206897
               Warrant                             0.454545
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [16]:
df.groupby(["violation_raw","driver_gender"])["search_conducted"].mean()

violation_raw                     driver_gender
APB                               F                0.285714
                                  M                0.500000
Call for Service                  F                0.050000
                                  M                0.126761
Equipment/Inspection Violation    F                0.079077
                                  M                0.123395
Motorist Assist/Courtesy          F                0.033898
                                  M                0.085470
Other Traffic Violation           F                0.047800
                                  M                0.088778
Registration Violation            F                0.114441
                                  M                0.171533
Special Detail/Directed Patrol    F                0.000000
                                  M                0.065574
Speeding                          F                0.006854
                                  M                0.028560
Suspicious Person                 F                0.000000
                                  M                0.240000
Violation of City/Town Ordinance  F                0.000000
                                  M                0.206897
Warrant                           F                0.000000
                                  M                0.454545
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [17]:
df.head(2)

,stop_datetime,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4

In [32]:
df["search_type"].value_counts()

Incident to Arrest                                          958
Probable Cause                                              244
Protective Frisk                                            204
Inventory                                                   117
Incident to Arrest,Inventory                                116
Incident to Arrest,Probable Cause                            76
Incident to Arrest,Protective Frisk                          63
Reasonable Suspicion                                         43
Probable Cause,Protective Frisk                              36
Incident to Arrest,Inventory,Protective Frisk                33
Inventory,Protective Frisk                                   23
Incident to Arrest,Probable Cause,Protective Frisk           20
Incident to Arrest,Inventory,Probable Cause                  19
Inventory,Probable Cause                                     16
Protective Frisk,Reasonable Suspicion                        16
Probable Cause,Reasonable Suspicion                          12
Probable Cause,Protective Frisk,Reasonable Suspicion          5
Incident to Arrest,Reasonable Suspicion                       5
Inventory,Probable Cause,Protective Frisk                     2
Inventory,Reasonable Suspicion                                1
Incident to Arrest,Probable Cause,Reasonable Suspicion        1
Incident to Arrest,Inventory,Reasonable Suspicion             1
Incident to Arrest,Protective Frisk,Reasonable Suspicion      1
Name: search_type, dtype: int64

In [78]:
df['frisk'] = df["search_type"].str.contains("Protective Frisk",na=False, regex=True)

In [80]:
df['frisk'].dtype

dtype('bool')

In [79]:
df['frisk'].value_counts()

False    47607
True       403
Name: frisk, dtype: int64

In [64]:
df.head(2)

,stop_datetime,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
0,2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False
1,2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,False

In [81]:
df["frisk"].unique()

array([False,  True])

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [53]:
search=pd.DataFrame(df[df["search_conducted"]==True])

In [82]:
search.head(2)

,stop_datetime,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
8,2005-01-24 20:32:00,RI-2005-00010,Zone K1,600,M,1987.0,18.0,W,White,Speeding,...,True,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1
9,2005-02-09 03:05:00,RI-2005-00011,Zone X4,500,M,1976.0,29.0,W,White,Registration Violation,...,True,"Probable Cause,Terry Frisk","Probable Cause,Protective Frisk",False,Citation,False,0-15 Min,False,False,Zone X4

In [86]:
100*df["frisk"].value_counts()/len(df["frisk"])

False    99.160592
True      0.839408
Name: frisk, dtype: float64

In [87]:
df.groupby("driver_gender")["frisk"].value_counts()

driver_gender  frisk
F              False    13270
               True        39
M              False    34337
               True       364
Name: frisk, dtype: int64

In [89]:
df.groupby("driver_gender")["frisk"].mean()

driver_gender
F    0.00293
M    0.01049
Name: frisk, dtype: float64